# System file
.DS_Store
Thumbs.db

# Build
node_modules
dist
dist-ssr
components.d.ts
auto-imports.d.ts

# Ts build info
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local Env Files
*.local
.env.local
.env.*.local

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

